* {
	margin: 0;
	padding: 0;
}


.clear {
	clear: both;
}

#leftPanel {
	float: left;
	width: 200px;
	background-color: #315699;
	height: 100vh;
	-webkit-box-shadow: 3px 5px 10px -4px #000;
	box-shadow: 3px 5px 10px -4px #000;
}

#leftPanel .przyciskPanelAdmina {
	text-align: center;
	height: 50px;
}

#leftPanel a {
	text-decoration: none;
	color: #d9d9d9;
	line-height: 50px;
}

#leftPanel a .active, #leftPanel a:hover .przyciskPanelAdmina {
	color: white;
	background-color: #4d88f4;
}

#rightPanel h3 {
	color: #828282;
	margin-top: 30px;
	margin-left: 30px;
}

#rightPanel {
	width: calc(100% - 200px);
	float: left;
	height: 100%;
}

#rightPanel table, #rightPanel th, #rightPanel td  {
	border-collapse: collapse;
	text-align: center;
	vertical-align: middle;
}

#rightPanel table {
	margin-left: 30px;
	margin-top: 30px;
	width: 80%;
	-webkit-box-shadow: 0 5px 15px -5px #000;
	box-shadow: 0 5px 15px -5px #000;
}

#rightPanel th  {
	height: 50px;
	background-color: #5390ff;
	color: white;
}

#rightPanel tr.first td {
	font-size: 18px;
	height: 40px;
	background-color: #315699;
	color: white;
}

#rightPanel tr:hover {
	background-color: #fff;
	cursor: pointer;
}

#rightPanel td {
	font-size: 14px;
	height: 50px;
	padding: 0px;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
}

#rightPanel form {
	width: 30%;
	margin-top: 30px;
	margin-left: 30px;
}

#rightPanel form * {
	display: block;
}

#rightPanel form input[type="text"] {
	width: 100%;
	padding: 5px;
}

#rightPanel form input[type="submit"] {
	display: inline-block;
	margin-top: 10px;
	padding: 5px;
	border: 0px;
	background-color: #4d88f4;
	color: white;
	cursor: pointer;
}

#rightPanel form input[type="submit"]:hover {
	background-color: #315699;
}

#rightPanel form label {
	margin-top: 10px;
	padding-bottom: 2px;
}

tr:nth-child(even) {
	background-color: #ececec;
}

tr:nth-child(odd) {
	background-color: #d2d2d2;
}

#loginForm {
	padding: 20px 30px;
	background-color: #315699;
	width: 30%;
	margin: 30px auto;
	-webkit-box-shadow: 3px 5px 10px -4px #000;
	box-shadow: 3px 5px 10px -4px #000;
}

#loginForm input[type="submit"] {
	background-color: #4d88f4;
	cursor: pointer;
	color: white;
	transition-duration: 150ms;
	border: 0;
	padding: 10px 30px;
	font-size: 20px;
	margin-top: 20px;
}

#loginForm input[type="submit"]:hover {
	background-color: #457adb;
}

#loginForm div {
	color: white;
	margin-top: 10px;
}

#loginForm input[type="email"], #loginForm input[type="password"] {
	border: 0;
	border-bottom: 1px solid white;
	background-color: #315699;
	width: 90%;
	padding: 2.5px;
	font-size: 19px;
	margin-top: 5px;
	margin-left: 10px;
	color: white;
}

#loginForm input[type="email"]::placeholder, #loginForm input[type="password"]::placeholder {
	color: #c0c0c0;
}

#loginForm a {
	float: right;
	text-decoration: none;
	color: white;
}

#loginForm a:hover {
	text-decoration: underline;
}