@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    margin: 0;
    padding: 0;
}

body {
	background-color: #f1f4f9;
	font-family: 'Open Sans', sans-serif;
    min-width: 1000px;
    overflow-x: hidden;
}

header {
    z-index: 5;
    position: fixed;
    width: 100%;
    background-color: rgba(255,255,255,0.95);
-webkit-box-shadow: 0 1px 10px 0 #000000;
box-shadow: 0 1px 10px 0 #000000;
}

header ul {
    margin: 0 auto;
    width: 100%;
    min-width: 1000px;
    list-style-type: none;
}

header li {
    display: inline-block;
    min-width: 10%;
    margin-left: -4px;
}

header li a {
    display: block;
    color: black;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}

.clear {
    clear: both;
}

/* Change the link color to #111 (black) on hover */
header li a:hover {
    text-decoration: underline;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

#slider {
    position: relative;
    margin: 0 auto;
    width: calc(100 - 100px);
    padding-bottom: calc(52% - 200px);
    overflow: hidden;
    background-size:cover;
    background-position:50% 50%;
}

#sliderText {
    position: absolute;
    top: 40%;
    z-index: 4;
    color: white;
    font-size: 25px;
    font-weight: bold;
    height: 200px;
    width: 30%;
    display:table;
    vertical-align:middle;
    text-align:center;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 

    border-radius: 10px;
}

#sliderText span {
    display: block;
    margin-top: 30px;
}

#sliderText a {
    padding: 20px 30px;
    background-color: rgb(227,149,1);
    color: white;
    font-size: 20px;
    text-decoration: none;
    border-radius: 10px;
}
#sliderText a:hover {
    background-color: #cc8600;
}

#faq h3.question {
    margin-top: 20px;
}

#contactDiv form {
    width: 50%;
    margin: 30px auto;
}

#contactDiv form label {
    display: block;
    font-size: 17px;
    margin-top: 10px;
}

#contactDiv form textarea {
    min-height: 200px;
}

#contactDiv form input[type="submit"] {
    border: 0px;
    background-color: #E39501;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

#contactDiv form input[type="submit"]:hover {
    background-color: #cc8600;
}

#contactDiv form input[type="text"], #contactDiv form input[type="mail"], #contactDiv form textarea {
    width: 100%;
    max-width: 500px;
    font-size: 16px;
    padding: 5px;
}

.obrazekTla {
    overflow: hidden;
    background-size:cover;
    background-position:50% 50%;
}

#contactDiv a {
    color: #4caf50;
}

.box {
    position: relative;
    margin-top: 20px;
    background-color: white;
    width: calc(30%);
    height: 370px;
    text-align: center; 
    display: inline-block;
    border: 2px solid rgba(0,0,0,0);
    text-decoration: none;
    border-radius: 3px;
-webkit-box-shadow: 0 3px 5px 0 #808080;
box-shadow: 0 3px 5px 0 #808080;
margin-left: 2%;
}

.box .errorNoAcc {
    position: absolute;
    bottom: 60px;
    width: 100%;
    text-align: center;
    color: red;
    font-weight: bold;
}

.box h2 {
    width: 100%;;
    background-color: #f2f2f2;
    padding: 10px 0px;
    color: #2185d0;
    height: 45px;
    font-size: 28px;
}

.box .top {
    padding: 15px 0px;
    border-bottom: 1px solid #C9C9C9;
    height: 80px;
}

.box .middleText {
    width: 90%;
    margin: 40px auto;
    padding-bottom: 20px;
    border-bottom: 1px solid #C9C9C9;
}

.box h5 {
    color: #7c7c7c;
    text-align: left;
    font-size: 16px;
    margin-left: 20px;
    margin-top: 5px;
}

#modulo {
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    left: 0;
    top: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    display: none;
}

#modulo #moduloContent {
    position: relative;
    width: 40%;
    margin: 50px auto;
    background-color: white;
    text-align: left;
    padding: 10px 0px;
    white-space: pre;
}

#modulo #moduloContent h1 {
    text-align: center;
}

#modulo #closeModulo {
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
    font-size: 20px;
}

#modulo #moduloContent button {
    border: 0px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    margin-left: 10px;
    border-radius: 10px;
    margin-top: 40px;
    text-align: center;
}


#buyNowBtn {
    cursor: pointer;
    width: 80%;
    border: 1px solid orange;
    border-radius: 5px;
    margin: 0 auto;
    height: 50px;
}

#buyNowBtn .buynow {
    display: inline-block;
    height: 100%;
    text-align: center;
    background-color: orange;
    width: 49%;
    line-height: 50px;
    color: white;
    font-weight: bold;
}

#buyNowBtn .price {
    display: inline-block;
    height: 100%;
    text-align: center;
    width: 49%;
    line-height: 50px;
    color: orange;
    font-weight: bold;
}
.box a {
    text-decoration: none;
}

footer {
    background-color:#E39501;
    width: 100%;
    padding: 30px 2px;
}

#successDiv {
    background-color: #E39501;
    padding: 10px 10px;
    text-align: center;
    color: white;
    border-radius: 5px;
    width: 70%;
    margin: 0 auto;
}

.rangIMG {
    width: 25%;
    margin: 0 auto;
    display: inline-block;
}

.rangIMG img {
    width: 200px;
    height: 200px;
}